/*Variáveis*/
:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-fundo: #00030C;
}
/*Seletor Universal*/
*{
    margin: 0;
    padding: 0;
}
/*corpo do documento*/
body{ 
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    
}
/*seção e atributo class*/
.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain; 
}

.container{
    height: 100vh;
}

